doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div#id
      button(class="btt", onclick="location.href='http://localhost:3000/'") Home
      button(class="btt", onclick="location.href='http://localhost:3000/newmovie'") New Movie
    block content
