doctype html
html
  head
    script(src='/javascripts/main.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #id
      button(class="btt", onclick="location.href='http://localhost:3000/'") Home
      button(class="btt", onclick="location.href='http://localhost:3000/newmovie'") New Movie
      button(class="btt", onclick="location.href='http://localhost:3000/admin'") Admin
    block content
  
